
.inter-normal {
  font-family: "inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    
    padding: 0 50px;
}
.nav-title {
    font-weight: 900px;
    font-size: 34px;

}
nav ul li  {
    list-style: none;
    font-size: 16px;

}
/* common style */
.text-color{
    color: #4E47FF;
}
.bt-tcolor{
    color: #FFFFFF;
    
    background-color: #4E47FF;
    font-weight:bold ;
    /* padding: 12px 36px; */
    border-radius:10px;
   
    border:none; 
}
.button-fix{
     width: 132px;
    height: 48px;
}
.lunch-live-bt{

    width: 229px;
    height: 48px;
}

header{ 
    background-image: url(../images/Hero-bg.png);
    margin-bottom: 150px;
    height: 698px;
    padding-bottom: 200px;
}
/* banner section */
.banner{
    margin: 300px 267px 152px;
    text-align: center;
    border-bottom: 150px;
   
}


.big-title {
        font-weight: bold;
        font-size: 64px;
}

/* action step */
.banner-2{

    display: flex;
    justify-content: space-between;
    margin: 105px 150px;
    align-items: center;
    gap: 220px;
}
.banner-2-contant{
    width: 517px;
    height: 203px;
}


.benner head{

font-weight:bold ;
font-size: 42;
color: #252432;
}
.banner-description{
    font-size: 24;
    color: #252432;
font-weight: 400px;
}
.banner-im{

    border-radius: 48px;
}  
/* box items */
.box{
    background-color: #bdbbf8;
    width: 1140px;
    height: 306px;
    text-align: center;
    padding: 80px 50px;
    border-radius: 24px;
    margin: 116px 141px;
    

}
.items-mother{

    display: flex;
    justify-content: space-around;
}
.box-title{

font-weight: bold;
font-size: 38px;
color: #252432;

}
.first-item{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.first-item-child{
    font-size: 20px;

}







